@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bold: 'Archivo Black', sans-serif;
$normal: 'Archivo', sans-serif;

$yellow: #FFDE17;
$orange: #E18C04;
$purple1: #BC80FF;
$light-purple: #A27DFE;
$purple: #9044FE;
$dark-purple: #7C2AE8;
$green: #3EDA08;
$blue: #6BB8FE;
$dark-blue: #00C4CC;
$pink: #FB94FF;
$white: white;
$semi-transparent: rgba(162, 125, 255, 0.4);
